<div class="container">
  <h1>スレッド名：<%= @thread_name %></h1>

  <div>
    <ul class="post">
      <% @posts.each do |post| %>

        <span class="user_name"><%= post['user_name'] %></span>
        <span class="created_time"><%= post['created_at'] %></span><br>
        <p class="content"><%= post['content'] %></p>
      <% end %>
    </ul>
  </div>
  <form action="/post"  method="POST">
    <div class="form-group">
      <label for="user_name">名前</label>
      <input class="form-control" type="text" name="user_name" id="user_name">
    </div>
    <div class="form-group">
      <label for='post'>投稿</label>
      <textarea class="form-control" id="post" name="content" rows="2"></textarea>
    </div>
    <input type="hidden" value="<%= @thread_id %>" name="thread_id">
    <input type="submit" value="send">
  </form>
</div>
